<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-10 mx-auto">
		<div class="jumbotron">
			<div class="row mt-2">
				<div class="col">
				  <h1>Please Login</h1>
				</div>
			  </div>
		
			  <form [formGroup]="loginForm">
				<div class="d-grid gap-2 mx-auto mb-3">
				  <input
					id="title"
					class="form-control"
					type="text"
					placeholder="Username"
					[ngClass]="{ 'is-invalid': errorMessage }"
					formControlName="username"
				  />
				  <div class="invalid-feedback" *ngIf="errorMessage">
					{{ errorMessage }}
				  </div>
				</div>
				<div class="d-grid gap-2 mx-auto mb-3">
				  <input
					type="password"
					id="password"
					class="form-control"
					placeholder="Password"
					[ngClass]="{ 'is-invalid': errorMessage }"
					formControlName="password"
				  />
				</div>
				<div>
				  <div class="d-grid gap-2 mx-auto">
					<button
					  class="btn btn-lg btn-primary"
					  [disabled]="loginForm.invalid"
					  (click)="checkCredentials()"
					>
					  Login
					</button>
				  </div>
				</div>
			  </form>
		
			  <hr />
		
			  <div class="d-grid gap-2 justify-content-center col-4 mx-auto">
				<button class="btn btn-lg btn-success" [routerLink]="['/signup']">
				  <span>Create New Account</span>
				</button>
			  </div>

			  <hr />
			  

			  <div class="d-grid gap-2 justify-content-center col-4 mx-auto">
				<button class="btn btn-lg btn-outline-dark" (click)="login()">
				  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
					<path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
				  </svg> &nbsp; Continue with Google
				</button>
			  </div>
		</div>
      
    </div>
  </div>
</div>

<!-- <div class="d-flex justify-content-center align-items-center mt-4">
	<a href="" [routerLink]="['/signup']">Create New Account</a>
</div> -->
