<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="jumbotron">


        <h2>How to Play</h2>
        <hr />
        <br />

        
        <div class="d-flex justify-content-center mt-4">
          <p class="">Type and match the quote shown.</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Green means correct. Red means you made a mistake.</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Hit enter once you complete.</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Each completed quote adds 10s to your timer.</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Good luck!</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Press Backspace to undo your mistake.</p>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" (click)="enterGame()">
                Get Started!
              </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
